body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(37, 37, 113);
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}